body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
p{
	margin: 0;
}
.section{
	padding: 40px 20px
}
.mdl-container{
	max-width: 1150px;
	width: 100%;
	-webkit-transition: max-width .3s linear;
	-moz-transition: max-width .3s linear;
	-ms-transition: max-width .3s linear;
	-o-transition: max-width .3s linear;
	transition: max-width .3s linear;
	margin: auto;
}
footer{
	background-color: #007749;
	padding: 10px 20px;
	text-align: center;
}
footer p{
	color: #FFFFFF;
}