$regular   = 'RubikRegular'
$medium    = 'RubikMedium'
$bold      = 'RubikBold'
$default   = #FF8300;
$primary   = #9FD4C9;
$secondary = #D5D654;
flexCenter()
	display flex
	display -webkit-flex
	align-items center
flexStart()
	display flex
	display -webkit-flex
	align-items start
flexEnd()
	display flex
	display -webkit-flex
	align-items flex-end
transitionOpacity()
	-webkit-transition opacity .3s linear
	-moz-transition opacity .3s linear
	-ms-transition opacity .3s linear
	-o-transition opacity .3s linear
	transition opacity .3s linear
transitionWidth()
	-webkit-transition width .3s linear
	-moz-transition width .3s linear
	-ms-transition width .3s linear
	-o-transition width .3s linear
	transition width .3s linear
transitionMaxWidth()
	-webkit-transition max-width .3s linear
	-moz-transition max-width .3s linear
	-ms-transition max-width .3s linear
	-o-transition max-width .3s linear
	transition max-width .3s linear
transitionBgColor()
	-webkit-transition background-color .3s linear
	-moz-transition background-color .3s linear
	-ms-transition background-color .3s linear
	-o-transition background-color .3s linear
	transition background-color .3s linear
transitionTransform()
	-webkit-transition transform .3s linear
	-moz-transition transform .3s linear
	-ms-transition transform .3s linear
	-o-transition transform .3s linear
	transition transform .3s linear
absolute()
	position absolute
	top 0
	left 0
	right 0
	bottom 0
flipCard()
	-moz-backface-visibility hidden
	-webkit-backface-visibility hidden
	backface-visibility hidden
	-webkit-transition -webkit-transform 500ms
	-moz-transition -moz-transform 500ms
	-o-transition -o-transform 500ms
	transition transform 500ms
	border-radius 5px
	position absolute
flipCardFront()
	-webkit-transform perspective(600) rotateY(0)
	-moz-transform perspective(600) rotateY(0)
	-o-transform perspective(600) rotateY(0)
	transform perspective(600) rotateY(0)
flipCardBack()
	-webkit-transform rotateY(-180deg)
	-moz-transform rotateY(-180deg)
	-o-transform rotateY(-180deg)
	transform rotateY(-180deg)
	z-index 900
flipCardFrontHover()
	-webkit-transform rotateY(180deg)
	-moz-transform rotateY(180deg)
	-o-transform rotateY(180deg)
	transform rotateY(180deg)
	-webkit-transform perspective(600) rotateY(180deg)
	-moz-transform perspective(600) rotateY(180deg)
	-o-transform perspective(600) rotateY(180deg)
	transform perspective(600) rotateY(180deg)
flipCardBackHover()
	-webkit-transform rotateY(0)
	-moz-transform rotateY(0)
	-o-transform rotateY(0)
	transform rotateY(0)
	-webkit-transform perspective(600) rotateY(0)
	-moz-transform perspective(600) rotateY(0)
	-o-transform perspective(600) rotateY(0)
	transform perspective(600) rotateY(0)
	z-index 950
body
	margin 0
	padding 0
	font-family $regular
	color #FFFFFF
	background-color #FFFFFF
p
	margin 0
.section
	padding 40px 20px
.js-container
	transitionMaxWidth()
	max-width 1150px
	width 100%
	margin auto
.js-header
	background-color #F3F3F3
	.redes-header
		ul
			margin 0
			padding 5px
			flexCenter()
			list-style none
			justify-content center
			li
				margin-right 15px
				a
					flexCenter()
					color #757575
					text-decoration none
#principal
	height 550px
	overflow hidden
	padding 0
	position relative
#principal
	.owl-carousel
		position relative
		bottom 0
		top 0
		left 0
		right 0
		width 100%
		z-index 1
		max-width 100%
#principal
	.owl-stage-outer
	.owl-stage
		height 550px
	.owl-carousel
		.owl-item
			height 550px
			.item
				height 550px
				img
					height 550px
#principal
	.owl-carousel
		.owl-item
			.item
				&:AFTER
					position absolute
					content ''
					top 0
					right 0
					left 0
					opacity 0.3
					z-index 2
					background-color #000000
					width 100%
					height 100%
				&.opacity-5
					&:AFTER
						opacity 0.6
				.imagen
					position absolute
					top 0
					right 0
					bottom 0
					left 0
					&.one
						background url(../img/fondo/fondo_header1.jpg) no-repeat center center
						background-size cover
					&.two
						background url(../img/fondo/fondo_header1.jpg) no-repeat center center
						background-size cover
					&.three
						background url(../img/fondo/fondo_header1.jpg) no-repeat center center
						background-size cover
.navbar-default
	background-color rgba(255, 255, 255, .3)
	position fixed
	width 100%
	border-radius 0
	z-index 5
	border none
	.navbar-nav
		&>li
			&>a
				color #000000
				font-size 16px
				&:hover
					color #000000
/*MATERIAL*/
.mdl-textfield
	width 100%
.mdl-card
	width 100%
	.mdl-card__supporting-text
		width 100%
.mdl-experiencia
	box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
	width 100%
	max-width 320px
	margin auto
.mdl-paquetes
	width 100%
	max-width 320px
	box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
	margin 15px
	.mdl-card__title
		display block
		img
			width 100%
		.js-paquete-name
			padding 5px 10px
			p
				color #FFFFFF
	&:nth-child(1)
		.js-paquete-name
			background-color #F0933C
	&:nth-child(2)
		.js-paquete-name
			background-color #723CF0
	&:nth-child(3)
		.js-paquete-name
			background-color #00CC44
.js-flex
	flexStart()
	justify-content center
footer
	background-color #007749
	padding 10px 20px
	text-align center
	p
		color #FFFFFF
/*SCROLL*/
::-webkit-scrollbar
	width 8px
	height 5px
::-webkit-scrollbar-track
	background-color transparent
	border-radius 10px
::-webkit-scrollbar-thumb
	background-color #AAAAAA
	border-radius 10px
// @media ( max-width: 1400px )
// @media ( max-width: 1200px )
// @media ( max-width: 768px )
// @media ( max-width: 600px )
					